@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 224 71.4% 4.1%;
    /* ... (và rất nhiều biến màu --card, --primary, etc.) ... */
  }

  .dark {
    --background: 224 71.4% 4.1%;
    --foreground: 210 20% 98%;
    /* ... (và các biến màu dark mode) ... */
  }
}